<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery a {float: left; display: block; margin: 0 0 1% 1%; width: 32%}
    .image-gallery a img {width: 100%; display: block;}
</style>

<div id="lightgallery" class="image-gallery">
{% for item in page.galleryimages %}
<a href="{{ item.image }}" data-sub-html="<h4>{{item.caption}}</h4><p>{{item.description}}</p>">
    <img src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" alt="{{ item.caption }}" caption="{{ item.caption }}" />
</a>
{% endfor %}
</div>
